:root {
  --fg-color: #111111;
  --bg-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg-color: white;
    --bg-color: #111111;
  }
}

* {
  outline: 0;
  margin: 1em;
  border: 0;
  padding: 0;
}

body {
  max-width: 45rem;
  background-color: var(--bg-color);
  color: var(--fg-color);
}

img {
  image-rendering: pixelated;
  width: 64px;
  height: 64px;
  animation: float 1s infinite;
  animation-timing-function: linear;
}
img.swirl {
  animation-name: swirl;
}
pre {
  align-self: center;
}

div {
  display: flex;
}
input, button {
  outline: 1px solid transparent;
  outline-offset: 1em;
  border: 1px solid var(--fg-color);
  padding: 1em;

  background-color: var(--bg-color);
  font-family: monospace;
  color: var(--fg-color);
}
input:hover, input:focus, button:hover, button:focus {
  outline-color: var(--fg-color);
}
input {
  flex: 4;
}
button {
  flex: 1;
  cursor: pointer;
}

@keyframes float {
  0%,
  50%,
  100% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(0, 1px);
  }

  75% {
    transform: translate(0, -1px);
  }
}

@keyframes swirl {
  0%,
  50%,
  100% {
    transform: translate(0, 0);
  }

  12.5% {
    transform: translate(1px, -1px);
  }

  25% {
    transform: translate(2px, 0);
  }

  37.5% {
    transform: translate(1px, 1px);
  }

  62.5% {
    transform: translate(-1px, -1px);
  }

  75% {
    transform: translate(-2px, 0);
  }

  87.5% {
    transform: translate(-1px, 1px);
  }
}
