* {
  margin: 1em;
  padding: 0;
}

body {
  max-width: 45rem;
}

img {
  image-rendering: pixelated;
  width: 64px;
  height: 64px;
  animation: float 1s infinite;
  animation-timing-function: linear;
}
img.dance {
  animation-name: dance;
}
pre {
  align-self: center;
}

div {
  display: flex;
}
input,
button {
  padding: 1em;
}
input {
  flex: 4;
  font-family: monospace;
}
button {
  flex: 1;
}

@keyframes float {
  0%,
  50%,
  100% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(0, 1px);
  }

  75% {
    transform: translate(0, -1px);
  }
}

@keyframes dance {
  0%,
  50%,
  100% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(1px, -1px);
  }

  75% {
    transform: translate(-1px, -1px);
  }
}
